.bgimg{
  background-image:url(/public/image/background.jpg);

}
.a{
  box-shadow: rgb(14 233 7 / 70%) 0px 2px 8px 0px;;

}

.logoMonde{
  width: 100px;
  height: 100px;
  border-radius: 50%

}
#worldName{
  color: #FFFFFF;
}
.money{
  color: #FFFFFF;

}

.multi{
  color: #FFFFFF;
}
.id {
  color: #FFFFFF;
}
.qte{
  color: #FFFFFF;
}
.temps{
  color: #FFFFFF;
}
.revenu{
  color: #FFFFFF;
}

.header {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 25% 25% 30% 20%;
  }
.main {
    display: grid;
    grid-template-columns: 20% 80%;
    }

.products{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#logoMonde{
  height: 73px;
  width: 73;
  border-radius: 50px;
  position: relative;
  padding: 8px;
}
.round {
      width: 100px;
      height: 100px;
      border-radius: 50%
     }

  .btncote{
    margin: 30px;
   background-color: #FFFFFF;
   border: 0;
   border-radius: .5rem;
   box-sizing: border-box;
   color: #111827;
   font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
   font-size: .875rem;
   font-weight: 600;
   line-height: 1.25rem;
   padding: .75rem 1rem;
   text-align: center;
   text-decoration: none #D1D5DB solid;
   text-decoration-thickness: auto;
   box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
   cursor: pointer;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
}

.btncote:hover {
  background-color: rgb(249,250,251);
}

.btncote:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.btncote:focus-visible {
  box-shadow: none;
}

.modal {
  position: absolute;
  z-index: 1;
  top: 50px;
  width: 767px;
  height: 600px;
  overflow: auto;
  background-color: white;
  border: solid;
  left: 20%
 }

.titleUpgrades{
  
font-family:Baskerville,Times,'Times New Roman',serif;
 font-size:75px;
 color:#589017;
 font-variant:small-caps;
 text-align:center;
 font-weight:bold;
 padding:15px 0px 15px 0px; 
}

.upgradergrid{
  text-align: center;
  background-color: yellowgreen;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  margin: 10px;
}






.angelgrid{
  text-align: center;
  background-color: rgb(212, 216, 205);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  margin: 10px;
}

.titleangelUpgrades{
font-family:Baskerville,Times,'Times New Roman',serif;
 font-size:75px;
 color:#bcc0b8;
 font-variant:small-caps;
 text-align:center;
 font-weight:bold;
 padding:15px 0px 15px 0px;

}

.managergrid{
  text-align: center;
  background-color: rgb(120, 121, 120);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  margin: 10px;
}
.titleManagers{
  font-family:Baskerville,Times,'Times New Roman',serif;
 font-size:75px;
 color:#0d0e0d;
 font-variant:small-caps;
 text-align:center;
 font-weight:bold;
 padding:15px 0px 15px 0px;
}



